<!doctype html>
<html>
	<head>
		<title>Joe Minock: Adventurer, Learner, Thinker, Tinkerer, Teacher, and Do'er</title>
			<meta name="description" content="Adventurous, Big Thinking Problem Solver, Focused on Executing Simplified Solutions" />

			<!-- Twitter Card data -->
			<meta name="twitter:site" content="JoeMinock.com">
			<meta name="twitter:creator" content="@joeminock">
			<meta name="twitter:title" content="Joe Minock: My Path to Coding Proficiency">
			<meta name="twitter:description" content="The Story of how Joe Minock went from from intermediate to expert developer">

			<!-- Open Graph data -->
			<meta property="og:site_name" content="JoeMinock.com" />
			<meta property="og:type" content="website" />
			<meta property="og:title" content="Joe Minock: My Path to Coding Proficiency" />
			<meta property="og:description" content="The Story of how Joe Minock went from from intermediate to expert developer" />
			<meta property="og:image" content="https://s3.amazonaws.com/codecraftweek1joe/joe_coding.jpeg" />


			<!-- Import Google Web Fonts -->
				<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
			<!-- End Google Web Fonts -->

			<!-- Start FontAwesome -->
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
			<!-- End FontAwesome -->

			<!-- Start Rails Important Meta Data -->
				<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
				<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
				<%= csrf_meta_tags %>
			<!-- End Rails Important Meta Data -->

	</head>
	<body>
	<nav class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<%= link_to "MinockMade", root_path, class: "navbar-brand" %>
        </div>
        <div id="navbar left" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Web", web_path %></li>
						<li><%= link_to "Wood", wood_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

			<%= yield %>

		<footer>
       <div class="container footer">
        <p>&copy; 2016 Joe Minock - Michigan Native Proudly Calling Nederland, Co Home</p>
        </div>
      </footer>
	</body>
</html>
